html, body {
	height: 100%;
	max-height: 100%;
}
.general-containe {

}

.search {

}

header h1 {
	font-size: 40pt;
	background: url('images/bg.jpg') left / auto 100% no-repeat;
}
nav {
	font-size: 16pt;
	width: 150px;
	float: left;
}
nav a {
	display: block;
	margin: 10px 0px;
}

.navigation {

}

.content {

}

.user-authorization {
	padding-top: 10%; 
}
				
.product {
	background-color: lightgrey;
	height: 200px;
	width: 48%;
	margin: 1% 0 0 1%;
	float: left;
}