{% extends "layout/basic.html" %}

{% block sign_in %}
	<div class="container user-authorization">
		<div class="row">
			<div class="col-lg-12">
                <h1 class="text-center">Авторизация</h1>
				<form action="" method="post" class="text-center">{% csrf_token %}
					<div class="form-group">
						<label for="exampleInputEmail1">Email address</label>
						<div>
							{{ form.email }}
						</div>
					</div>
					<div class="form-group">
						<label for="exampleInputPassword1">Password</label>
						<div>
							{{ form.password }}
						</div>
					</div>
					<button type="submit" class="btn btn-primary">Войти</button>
				</form>
			</div>
		</div>
	</div>
{% endblock %}